<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<ul>
    <li> This</li>
    <li> Is</li>
    <li> Unordered List</li>
</ul>

<table border="1">
    <thead>
    <tr>
        <th>習得言語</th>
        <th>レベル</th>
    </tr>
    <thead>
    <tbody>
    <tr>
        <td>日本語</td>
        <td>母国語</td>
    </tr>
    <tr>
        <td>英語</td>
        <td>B2</td>
    </tr>
    <tr>
        <td>ドイツ語</td>
        <td>B2</td>
    </tr>
    </tbody>
</table>